# Created by .ignore support plugin (hsz.mobi)
/build
/.gradle
/.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
/gradlew
/gradlew.bat
/gradle
/gen
/captures

### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
## *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Jenkinsfile
/app.iml
/app/build/
*.iml
.DS_Store
app/.DS_Store
/library